/* set image max width to 100% */ 
img.vidimg { border: medium none; height: 58px; max-width: 100%; outline: medium none; vertical-align: middle; width: 84px; }
img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ vertical-align:middle; border:none; outline:none; }
body{background: #FFFFFF; padding-bottom: 90px; .container-fluid {margin: 0 0px;}
font-family: 'tahoma','arial'; padding-right: 0;}
iframe { /*border: 15px solid *#1C9CF4*/ }
.border{border:1px solid #cbcbcb !important; background: white; border-radius: 5px;}
.navbar-default .navbar-nav > .active > a{ /*background: #2d8fe0 !important;*/ color: white !important;}
.navbar{border-radius: 0px !important;}
.navbar-default{background: white !important;}
.padding_left{padding-left:15px;}
.sms{font-family: arial; font-size: 22px; text-decoration: none; margin-bottom: 12px;}
.mainnav_margin{margin-bottom: 15px !important;}
.margin_bottom{margin-bottom: 15px;}
.navbar-default .navbar-nav > li > a {color: #333333; font-size: 11px; /*font-weight:bold;*/ }
.navbar{min-height: 40px;}
.navbar-nav > li > a{padding-top: 10px; padding-bottom: 10px;}
.navbar-default .navbar-nav > li > a:hover{background: #2D8FE0; color: white;}
.bal_sp_co{color:#3188dc; }
.margin-bottom30{margin-bottom: 30px;}
.search{border: 1px solid #898989; padding-right: 15px !important; width: 200px; border-radius: 2px; background: #f7f9fa; height: 26px; }
.filter{list-style: none; text-decoration: none; padding-left: 0px;}
.filter li a{color: #0894dc; font-weight: bold;}
.no_pad_left{padding-left: 0px !important;}
.no_pad_hr{padding-left: 0px !important;}
.pad_left2{padding-left:2px !important;}
.date_span{background: #f0f0f0; padding: 3px; padding-right: 24px; padding-left: 7px; color: #333333; font-size: 12px; font-weight: bold;}
.table{background: none repeat scroll 0% 0% #F2F2F2; border: 1px solid #DDDDDD; font-size: 12px;}
.table > thead > tr > th {border-bottom: 1px solid #DDD;}
.table a.negetive{color:#d34253 !important;}
.table a.positive{color:#3ab974 !important;}
.background_th{background: #dbdbda;}
.table td:first-child{color: #646464;}
.table td:last-child{color: #646464;}
hr { margin-top: 10px !important;}
.col-md-2 p{font-size: 18px; color:#333333;}
.margin_top{margin-top: 20px;}
.form-horizontal p{font-size: 15px; margin-top: 7px; width: 200px;}
.form-horizontal lebel{font-family: tahoma; padding: 10px !important; font-size: 12px; !imopotant color: #000000;}
.form-horizontal select{height: 27px; border: 1px solid #898989; background: #f7f9fa; border-radius: 2px; -webkit-appearance: none ; -moz-appearance: none; appearance: none; padding: 2px; }
em{font-size: 11px; font-weight: bold;}
.btn-primary { color: #FFF; padding-right: 20px; padding-left: 20px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: #1c9cf4; background-image: linear-gradient(to bottom, #1c9cf4, #1069ce); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.butm{ display: inline-block; margin-right: 5px; color: #272727; text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; font-weight: bold; font-size: 11px; font-family: tahoma; background-color: #F5F5F5; background-image: linear-gradient(to bottom, #FFF, #E6E6E6); background-repeat: repeat-x; border: 1px solid #b2b2b2; border-radius: 4px; margin-bottom: 5px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.table-responsive{border: none; margin-right: 15px; margin-left: 15px; }
.row { width: auto; margin-right: 0; }
.searchright { margin-right: 15px; }
.pagination a.active{background: white; padding-left: 5px; padding-right: 6px; border: 1px solid gray; color: #333333; border-radius: 3px; }
.pagination a{margin-right: 5px;}
.pagination a{color: #737373;}
.table td{vertical-align: middle !important;}
.navbar-brand{display: none; }
.navbar-default .navbar-brand{color: #333333;}
.sec_btn{margin-top: 20px;}
.no_pad_mob { padding: 0; }
.searchbtn_font{ font-size: 15px; }
.video_sta p{margin-left:70px; padding-bottom:20px;}
.upload_vid label{text-align:left !important; margin-left:70px;}
.padding-left50{padding-left:50px;}
.margin-left40{margin-left:40px !important;}
/* send massage page */ .total span{font-size: 22px; font-family: 'tahoma','arial'; }
.update{padding-left: 16px; padding-right: 16px; padding-top: 7px;}
.form_sms{font-family: 'tahoma','arial'; font-size: 12px;}
.form_sms span{color:#aeaeae;}
.form_sms a{font-family: 'tahoma','arial'; font-size: 13px;}
.form_sms select{height: 28px; background: none repeat scroll 0% 0% #F7F9FA; padding: 2px; border: 1px solid #898989;}
.form_sms input{height: 28px; border: 1px solid #898989;}
.form_sms textarea{border: 1px solid #898989;}
.form_sms p{font-weight:bold;}
.mobile{ width: 275px; height: 422px; padding-top: 128px; background-image: url(../images/mobile_img.png); background-repeat: no-repeat; background-position: center; min-height: 600px; }
.cbo{width: 275px; float: left; height: 30px; font-weight: bold; color: black; text-align: center; }
.hello{width: 220px; float: left; height: 80px; color: #333333; padding-left: 40px; padding-right: 20px; padding-top: 30px; }
.terms_h{font-size: 19px; font-family: tahoma;}
.terms{color: #292929;}
.terms p{font-size: 13px; margin-bottom: 10px;}
.terms p:first-child{margin-top: 15px;}
.faq p{font-size: 13px; margin-bottom: 15px;}
.faq_padding{padding: 0px !important; margin: 0px !important;}
.faq ul{font-size: 13px;}
.faq ul li{margin-bottom: 10px;}
.btnVideo img { height: 47px; }
#myTable a.btnVideo { color: #1e86e3; }
#mytable a.btnVideo:hover { color: #1e86e3; text-decoration: underline; }
.nav li a { }
.nav li a:hover, .nav li.active a { text-shadow: 0 1px 1px #004B7C !important; -webkit-text-shadow:0 1px 1px #004B7C !important; -moz-text-shadow:0 1px 1px #004B7C !important; -ms-text-shadow:0 1px 1px #004B7C !important; -o-text-shadow:0 1px 1px #004B7C !important; background: linear-gradient(#2a94e2, #357bd1)!important; background: -webkit-linear-gradient(#2a94e2, #357bd1)!important; background: -moz-linear-gradient(#2a94e2, #357bd1)!important; background: -ms-linear-gradient(#2a94e2, #357bd1)!important; background: -o-linear-gradient(#2a94e2, #357bd1)!important; }
#searchbox { background: url("/video/images/search.png") no-repeat scroll 7px 7px rgba(0, 0, 0, 0); padding-left: 28px; }
#mytable tr td { border-top: none; }
.form-group .form-control { background-color: #f8f9fb; border: 1px solid #898989; border-radius: 2px !important; color: #888; font-family: Arial; font-size: 12px; padding: 5px; height: auto; }
.navbar { border-top: none; border-right: none; border-left: none; width: 100%; }
.navbar .container-fluid { padding-right: 0; }
.icon-step-backward { display: inline-block; width: 23px; height: 23px; background: url('/video/images/sprite.gif') no-repeat 0 -549px; }
.icon-step-backward:hover { background-position: 0 -599px; }
.icon-left { display: inline-block; width: 23px; height: 23px; background: url('/video/images/sprite.gif') no-repeat 0 -699px; }
.icon-left:hover { background-position: 0 -749px; }
.icon-right { display: inline-block; width: 23px; height: 23px; background: url('/video/images/sprite.gif') no-repeat 0 -849px; }
.icon-right:hover { background-position: 0 -899px; }
.icon-step-forward { display: inline-block; width: 23px; height: 23px; background: url('/video/images/sprite.gif') no-repeat 0 -999px; }
.icon-step-forward:hover { background-position: 0 -1049px; }
.pagination a { display: inline-block; }
.pagination { background-color: #eeeeee; }

.table-striped img { padding-right: 20px; }
.date_period { background: none repeat scroll 0 0 #F0F0F0; float: left; font-size: 13px; padding: 2px 8px; }
.col-md-2.video_mob { padding: 0; width: 21.233%; }
.video_pad_hr { float: right; margin-right: 0 !important; padding-left: 0 !important; padding-right: 0; width: 77.332%; }
.col-md-2.video_mob p{ font-size:20px; }
.page_views{ width:100%; margin:30px 0px 35px; float:left; padding:0 0 0 0px; }
.page_views li { float: left; list-style: none outside none; padding: 0 3%; text-align: center; width: 33.2%; }
.page_views li h5{ color:#555555; font-size:22px; }
.page_views p { color: #676767; font-size: 13px; }
.view_pic{ padding:15px 0px 20px; position: relative; }
.count_number { color: #555555; font-size: 19px; font-weight: bold; position: absolute; top: 53px; width: 100%; }
.view_count{ margin:0 0 0px; }
.col-md-2.analytics_mob { padding: 0; }
.col-md-2.analytics_mob p{ font-size:20px; }
.view_tabs { padding:0 0 0px; margin: 10px 0 28px; float:left; }
.view_tabs li { background-color: #F5F5F5; background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6); background-repeat: repeat-x; border: 1px solid #B0B0B0; border-radius:2px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); color: #272727; cursor: pointer; display: inline; font-family: tahoma; font-size: 11px; float:left; font-weight: bold; list-style: none outside none; margin: 0; padding: 5px 12px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; }
.view_tabs .active{ background:#ccc; }
.view_tabs li:hover{ background:#ccc; }
.view_tabs li a{ color:#302d2a; }
.view_tabs li a:hover{ text-decoration:none; }
.m_border { border-left: medium none !important; border-right: medium none !important; }
.graph_img { margin: 0 0 30px; text-align: center; width: 100%; }
.mrbottom{ margin-bottom:18px; }
.video_input { background-color: #f7f9fa; background-image: none; border: 1px solid #898989; border-radius: 3px; height: auto; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; display: block; font-size: 14px; line-height: 1.42857; padding:3px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.in_row { width: 35%; }
.lble_title { float: left; font-size: 13px; text-align: right; width: 16%; }
.in_outer { float: left; margin: 0 0 0 25px; width: 32%; }
.txt-control { background-color: #f7f9fa; background-image: none; border: 1px solid #898989; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; display: block; font-size: 14px; line-height: 1.42857; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.butm_browse { background-color: #F5F5F5; background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6); background-repeat: repeat-x; border: 1px solid #B2B2B2; border-radius: 4px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); color: #272727; cursor: pointer; display: inline-block; font-family: tahoma; font-size: 11px; font-weight: bold; margin: -1px 0 0 0px; padding: 4px 15px; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; }
.videofrom_in{ width:45%; padding-left:40px; }
.form-field-names { color: #202020; float: left; font-size: 13px; font-weight: bold; margin: 0; text-align: right; width: 22%; }
.fields{ margin:15px 0px 25px; }
.clr{clear:both; line-height:0px;}
.form-field{ width:72%; float:right; }
.form-field input[type="text"], .form-field input[type="password"]{ background-color: #f7f9fa; background-image: none; border: 1px solid #898989; border-radius: 3px; height: auto; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; display: block; font-size: 14px; line-height: 1.42857; padding:3px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%; }
.btn-primary-upload { color: #FFF; padding-right: 20px; margin: 0 0 0 28%; padding-left: 20px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: #1c9cf4; background-image: linear-gradient(to bottom, #1c9cf4, #1069ce); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-primary-upload:hover{ color:#fff; }


.chart-box { display: block; position: relative; margin-bottom: 80px; margin-top: 40px; }
.doughnut_charts { }
.doughnut_items_wrap { display: inline-block; padding: 0 3em; width: 100%; }
.total_call_wrap  { }
.doughtnut { float: left; margin-right: 1em; position: relative; width :23%; }
.doughnut-img-wrap { height: 52px; position: absolute; text-align: center; top: 38px; width: 100%;  }
.doughtnut span { color: #2b2b2b; display: inline-block; font-size: 30px; margin-top: 15px; text-align: center; width: 100%; }
.doughtnut h5 { color: #2b2b2b; font-size: 1em; text-align: center; font-weight: bold; }
.doughtnut p { text-align: center; margin-bottom: 15px;  }
.table-responsive th { font-size: 14px; }

.content-head { display: inline-block; width: 95%; margin: 0 31px;  }
.bg-white-client { background: none repeat scroll 0 0 #FFFFFF; float: left; padding-right: 15px; }
.bg-white-client h4 { }
.line-area { background: none repeat scroll 0 0 #D4D4D4; height: 1px; margin-left: 15px; margin-top: 20px;  }

/*ADDITIONAL CSS SHOUD END HERE*/


/*ENSURE THAT ANY @MEDIA STARTS HERE*/

@media (max-width:980px) { 
    .no_pad_hr{padding-left: 10px !important;}
    .no_pad_mob{padding: 0px;}
}
@media (max-width:768px) { 
    .no_pad_hr{padding-left: 10px !important;}
    .table-responsive{ overflow-y: hidden; overflow-x: hidden;}
    body{padding: 10px;}
    .navbar-collapse{margin-top: 55px !important; }
    .search{float: left !important;}
    .filter{margin-top: 10px;}
    .navbar-toggle{margin-right: 0px; padding: 8px 9px;}
    .navbar-brand{padding-left: 0px;}
    .no_pad_mob{padding: 0px;}
    .mobile_mob{padding-left: 25%;}
}
@media (max-width:760px){ 
    .navbar-brand{display: block;}
    .form-horizontal select{width: 60%;}
}
@media (max-width:460px){ 
    .no_pad_hr{padding-left: 0px !important;}
    .margin-bottom30{margin-bottom: 5px;}
    .form-horizontal{padding: 10px;}
    .table-responsive{ overflow-y: hidden; overflow-x: scroll; }
    .mobile_mob{padding-left: 5%;}
    .navbar-brand{display: block;}
    .form-horizontal select{width: 90%;}
    body{padding: 5px; }
}

@media only screen and (max-width:990px) { 
    .videofrom_in { width: 70%; }
}
@media only screen and (max-width:800px) { 
    .col-md-2.video_mob { padding: 0; width: 100%; }
    .video_pad_hr { width: 100%; }
    .videofrom_in{ width:100%; }
}
@media only screen and (max-width:580px) { 
    .page_views li{ width: 100%; }
    .form-field { float: right; width: 100%; }
    .form-field-names { text-align: left; width: 100%; margin-bottom: 8px; }
    .btn-primary-upload{ margin:0 0 0 0px; }
}
